<section id="new-ask" class="tester-bg">
  <div class="container-steps-content">  
    <div class="form-box template-tasks-box help-page">
      <div class="form-title">
        <h1>Precisa de ajuda?</h1>
      </div>

      <div class="template-example how-to-example">
        <div class="template-content">
          <p>
            Precisa de ajuda em algo? Contate nossa equipe e resolveremos seu problema
          </p>
        </div>
        <div class="template-button">
          <button class="next-button">
            <%= link_to("Enviar", "#") %>
          </button>
        </div>
      </div>

      <form action="help" class="help-form">
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </form>
    </div>
  </div>
</section>