<section id="tester-register-step3">
  <div class="success-box">
    <%= image_tag("user_type/sucessoGde.svg") %>
    <div class="title tester">
      <h2>Cadastro completo com sucesso!</h2>
    </div>
  </div>

  <p class="success-alert tester-alert">
    Em breve você receberá um e-mail com um link de confirmação de cadastro e logo poderá prosseguir com seus testes.
  </p>

  <div class="step-3-buttons">
    <button class="back-button">
      <%= link_to("Voltar para a Home", root_path) %>
    </button>
    <button class="next-button tester-button">
      <%= link_to("Meus Testes", worker_projects_path) %>
    </button>
  </div>

  <div class="register-progress-bar tester">
    <%= image_tag("user_type/sucessoPqno.svg") %>
    <div class="full-bar">
      <div class="step1 active"></div>

      <div class="step2 active"></div>

      <div class="step3 active"></div>
    </div>
    <div class="line-bar"></div>
    <p>
      Passo 3 <br>
      Final
    </p>
  </div>
</section>