<section id="tester-register-step3-fail">
  <div class="success-box">
    <%= image_tag("user_type/deuruimGde.svg") %>
    <div class="title">
      <h2>Bem, isso é um pouco embaraçoso...</h2>
    </div>
  </div>

  <p>
    Ainda estamos em uma versão beta, e sua deficiência ainda não está disponível. Continue nos acompanhando, pois estamos trabalhando o mais rápido possível para que você também possa nos ajudar a testar!
  </p>

  <div class="step-3-buttons">
    <button class="back-button">
      <%= link_to("Voltar para a Home", user_type_path) %>
    </button>
  </div>

  <div class="register-progress-bar">
    <%= image_tag("user_type/deuruimPqno.svg") %>
    <div class="full-bar">
      <div class="step1 active"></div>

      <div class="step2 active"></div>

      <div class="step3 active"></div>
    </div>
    <div class="line-bar"></div>
    <p>
      Passo 3 <br>
      Final
    </p>
  </div>
</section>