<%@projects.each do |project|%>
  <section id="user-project">
    <section class="project-box">
      <div class="project-infos">
        <h1 class="tester-template-content" tabindex="0"> <%= project.name %> </h1>
        <p tabindex="0">
          Status: <strong> <%= project.status%> </strong>
        </p>
        <p tabindex="0">
          Criado há: <%= time_ago_in_words(project.created_at) %> atrás
        </p>


        <div class="project-footer-buttons">
          <% if project.status == "sent" %>
            <button class="edit-button">
              <%= link_to "Avaliar", worker_projects_tasks_path(project)%>
            </button>
          <% end %>
        </div>
      </div>
    </section>
  </section>
<%end%>
