<% project = project_testers.project %>

<div class="panel panel-info">

  <div class="panel-body">
    <strong> Título do teste </strong><br>
    <%= project.name %> <br><br>
    <strong> O que vai testar? </strong><br>
    <%= project.test_platform %><br><br>
    <strong> URL </strong><br>
    <%= raw(project.url_html) %>
  </div>

  <div class="panel-footer text-center">
    <%= link_to "<i class='fa fa-plus-circle'></i> Vizualizar".html_safe, worker_project_path(project), :class => "btn btn-info btn-md btn-block" %>
  </div>
</div>