// User Type Step1
#user-type {
  @include span-columns (12 of 12);
  padding: 14vh 0 5vh 0;

  &.login-type {
    padding: 14vh 0;
  }

  .title {
    background-color: #48a8de;
    border-radius: .99vw;
    padding: 2vh;
    width: 44.8vw;
    margin-left: 27.2vw;
    box-shadow: 2px 4px 4px 0px;

    h1 {
      text-align: center;
      color: #FFF;
      margin-bottom: 0;
      font-size: 1.96vw;
    }
  }

  .user-type-box {
    @include span-columns (12 of 12);
    padding-top: 12vh;
    .img-box {
      @include span-columns (4 of 12);
      display: flex;
      align-items: center;
      flex-direction: column;

      p {
        font-size: 1.07vw;
        line-height: 1.3;
      }

      p,
      a {
        color: #824199;
        text-align: center;
      }

      a {
        font-size: 1.93vw;
        margin-top: 3vh;

        &:first-of-type {
          @include span-columns (2 of 4);
          background-image: image-url("user_type/pcd.jpg");
          background-size: 150%;
          background-position-x: -9vh;
          border-radius: 100%;
          border: solid 4px #824199;
          overflow: hidden;
          width: 32vh;
          height: 32vh;
          margin-right: 0;
        }
      }

      &:first-of-type {
        @include shift (2 of 12);

        p,
        a {
          color: #3e6db5;
        }

        a {
          &:first-of-type {
            background-image: image-url("user_type/profissional.jpg");
            background-position-x: -3vh;
            border: solid 4px #3e6db5;
          }
        }
      }
    }
  }

  .register-progress-bar {
    @include span-columns (10 of 12);
    @include shift (1 of 12);
    padding-top: 7vh;

    p {
      font-size: 1.07vw;
      color: $blue-text;
      line-height: 1.3;
      margin-left: 1.1vw;
      margin-top: 2vh;
    }

    img {
      width: 3vw;
      float: left;
      margin-left: .5vw;
      margin-bottom: 2vh;
    }

    .full-bar {
      @include span-columns (10 of 10);

      .active,
      .disable {
        width: 1.5vw;
        height: 1.5vw;
        background-color: $blue-text;
        float: left;
      }

      .disable {
        background-color: transparent;
        border: solid 1px $blue-text;
      }

      .step1 {
        margin-left: 1.2vw;
      }

      .step2 {
        margin-left: 37.7vw;
      }

      .step3 {
        float: right;
        margin-right: 1.2vw;
      }
    }

    .line-bar {
      margin-left: 1.9vw;
      width: 78.5vw;
      clear: left;
      border: solid .5px $blue-text;
      position: relative;
      bottom: 1.4vh;
    }
  }
}

// User/Tester Register Step2
#user-register-step2,
#tester-register-step2 {
  @include span-columns (12 of 12);
  padding: 8vh 0 5vh 0;
  
  &.login-tester {
    padding: 8vh 0;

    .form-actions {
      .login-tester {
        background: linear-gradient(0deg, #834098, #ec457f);
        width: 14.66vw;
        height: 7.8vh;
        margin-right: 2.5vw;

        &:last-of-type {
          float: right;
          margin-right: 0;
        }

        input,
        a {
          background-color: transparent;
          font-size: 1.2vw;
        }

        a {
          color: #FFF;
        }
      }

      .login-user {
        background: linear-gradient(0deg, #3e6db5, #48a8de);
        width: 14.66vw;
        height: 7.8vh;
        margin-right: 2.5vw;

        &:last-of-type {
          float: right;
          margin-right: 0;
        }

        input,
        a {
          background-color: transparent;
          font-size: 1.2vw;
        }

        a {
          color: #FFF;
        }
      }
    }
  }

  .header-step2 {
    width: 44.7vw;
    float: left;
    display: block;
    margin-left: 25.3vw;

    h2 {
      font-size: 1.96vw;
      color: $purple-text;
      margin-top: 1.3vh;
      margin-bottom: 0;
    }

    .title {
      background-color: #ef457d;
      border-radius: .99vw;
      padding: 1vh 0 1vh 0;
      width: 38.8vw;
      margin-left: 6.2vw;
      margin-top: 1vh;
      box-shadow: 2px 4px 4px 0px;

      h3 {
        text-align: left;
        color: #FFF;
        margin-bottom: 0;
        font-size: 1.96vw;
        position: relative;
        left: -1.3vw;
      }
    }
    .img-box-mask {
      @include span-columns (4 of 12);
      @include omega;
      display: flex;
      align-items: center;
      flex-direction: column;

      .img-box {
        background-image: image-url("user_type/pcd.jpg");
        background-size: 150%;
        background-position-x: -5vh;
        border-radius: 100%;
        border: solid 4px $purple-text;
        overflow: hidden;
        width: 20vh;
        height: 20vh;
        margin-right: 0;
      }
    }
  }

  .form-signin {
    float: left;
    width: 49.6vw;
    margin-left: 24vw;
    margin-top: 6vh;

    .form-group {
      margin-bottom: 2vh;
    }

    .tester_remember_me {
      float: left;
      clear: left;
    }

    .checkbox,
    .radio-box {
      width: 100%;
      float: left;
      display: flex;
      align-items: center;
      margin-bottom: 2vh;

      p,
      input {
        margin-bottom: 0;
      }

      &:nth-of-type(3) {
        p {
          float: left;
          margin-right: 1vw;
        }
      }
    }

    .extra-infos {
      width: 100%;
      float: left;
      p {
        font-size: 1.2vw;
        color: $blue;
      }

      input[type="checkbox"],
      input[type="radio"] {
        float: left;
      }
    }

    .form-actions {
      width: 100%;
      float: left;
      margin-top: 5vh;

      .back-button,
      .next-button {
        width: 11vw;
        height: 7vh;
        font-size: 1.2vw;
        padding: 0;

        a,
        input {
          background-repeat: no-repeat;
          background-color: transparent;
          background-size: 2.2vw;
          background-position: 1vw;
          height: 7vh;
          width: 100%;
        }
      }

      .back-button {
        background-color: #FFF;
        border: solid 1.5px #414141;
        margin-right: 1vw;

        a {
          background-image: image-url("/assets/user_type/anterior.svg");
          background-position-x: 1.6vw;
          background-position-y: .55vw;
          color: #414141;
          display: flex;
          align-items: center;
          padding: 0 0 0 5.1vw;
        }
      }

      .next-button {
        background: linear-gradient(0deg, #3e6db5, #48a8de);
        width: 14.66vw;

        input {
          background-image: image-url("/assets/user_type/proximo.svg");
          background-position-x: 2.6vw;
          font-size: 1.2vw;
          padding: .1vw 0 0 3.2vw;
        }

        &.tester-button {
          background: linear-gradient(0deg, #834098, #ec457f);
        }
      }
    }
  }

  .register-progress-bar {
    @include span-columns (10 of 12);
    @include shift (1 of 12);
    padding-top: 25vh;

    p {
      font-size: 1.07vw;
      color: $purple-text;
      line-height: 1.3;
      margin-left: 40.4vw;
      margin-top: 2vh;
    }

    img {
      width: 3vw;
      float: left;
      margin-left: 39.6vw;
      margin-bottom: 2vh;
    }

    .full-bar {
      @include span-columns (10 of 10);

      .active,
      .disable {
        width: 1.5vw;
        height: 1.5vw;
        background-color: $purple-text;
        float: left;
      }

      .disable {
        background-color: transparent;
        border: solid 1px $purple-text;
      }

      .step1 {
        margin-left: 1.2vw;
      }

      .step2 {
        margin-left: 37.7vw;
      }

      .step3 {
        float: right;
        margin-right: 1.2vw;
      }
    }

    .line-bar {
      margin-left: 1.9vw;
      width: 78.5vw;
      clear: left;
      border: solid .5px $purple-text;
      position: relative;
      bottom: 1.4vh;
    }
  }
}

// Tester Register Step 2
#tester-register-step2 {
  .form-signin {

    .tester_email {
      width: 24vw;
      margin-right: 1vw;
      float: left;
    }

    .tester_age {
      float: left;
      width: 7.4vw;
    }

    .tester_gender,
    .tester_kind_of_disability {
      width: 100%;
      float: left;
    }
    
    .tester_current_password {
      label {
        float: left;
      }
    }

    .tester_kind_of_disability {
      .checkbox {
        width: 11vw;
        label {
          display: flex;
          span {
            float: left;
            margin-right: 5vw;
            display: flex;
          }

          input {
            margin-top: .6vh;
          }
        }
      }
    }

    .tester_gender {
      .radio {
        label {
          float: left;
          margin-right: 10vw;
        }
      }
    }

    .tester_password,
    .tester_password_confirmation,
    .tester_another_reason {
      width: 24.3vw;
      float: left;
      margin-right: 1vw;
    }

    .tester_password_confirmation {
      @include omega;
    }

    label {
      color: $purple-text;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
      border: solid .7px #ef457d;
      color: $purple-text;
    }

    p {
      color: $purple-text;
    }

    .extra-infos {
      p {
        color: $purple-text;
      }
    }
  }
}

// User Register Step 2
#user-register-step2 {
  .header-step2 {
    h2 {
      margin-top: 6vh;
      color: $blue-text;
    }

    .title {
      background-color: #48a8de;
    }

    .img-box-mask {
      @include span-columns (4 of 12);
      @include omega;
      display: flex;
      align-items: center;
      flex-direction: column;

      .img-box {
        background-image: image-url("user_type/profissional.jpg");
        background-position-x: -2vh;
        border: solid 4px $blue-text;
      }
    }
  }

  .form-signin {
    .user_full_name,
    .user_email {
      width: 30.7vw;
      float: left;
      margin-right: 1vw;
    }

    .user_role,
    .user_company {
      width: 17.9vw;
      float: left;
    }

    .user_password,
    .user_password_confirmation,
    .user_another_reason {
      width: 24.3vw;
      float: left;
      margin-right: 1vw;
    }

    .user_password_confirmation {
      margin-right: 0;
    }
  }

  .register-progress-bar {
    p {
      color: $blue-text;
    }

    .full-bar {
      .active,
      .disable {
        background-color: $blue-text;
      }

      .disable {
        background-color: transparent;
        border: solid 1px $blue-text;
      }
    }

    .line-bar {
      border: solid .5px $blue-text;
    }
  }
}

// User/Tester Step3
#user-register-step3,
#tester-register-step3 {
  @include span-columns (12 of 12);
  padding: 8vh 0 5vh 0;

  .success-box {
    img {
      width: 15vw;
      display: block;
      margin: 0 auto;
      margin-bottom: 5vh;
    }

    .title {
      background-color: #FFF;
      border: solid 1px $blue-text;
      border-radius: .99vw;
      padding: 2vh;
      width: 44.8vw;
      margin-left: 27.2vw;

      h2 {
        text-align: center;
        color: $blue-text;
        margin-bottom: 0;
        font-size: 1.96vw;
      }

      &.tester {
        border: solid 1px #CF4A7B;

        h2 {
          color: $purple-text;
        }
      }
    }
  }

  .success-alert {
    width: 40vw;
    text-align: center;
    margin: 10vh auto;
    color: $blue-text;
    line-height: 1.2;

    &.tester-alert {
      color: $purple-text;
    }
  }

  .step-3-buttons {
    text-align: center;

    .back-button,
    .next-button {
      width: 19vw;
      height: 7vh;
      font-size: 1.2vw;
      padding: 0;

      a {
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 2.2vw;
        background-position: 1vw;
        height: 7vh;
        width: 100%;
        background-position-y: .55vw;
        display: flex;
        align-items: center;
      }
    }

    .back-button {
      background-color: #FFF;
      border: solid 1.5px #414141;
      margin-right: 1vw;

      a {
        background-image: image-url("/assets/user_type/anterior.svg");
        background-position-x: 1.6vw;
        color: #414141;
        padding: 0 0 0 5.1vw;
      }
    }

    .next-button {
      background: linear-gradient(0deg, #3e6db5, #48a8de);

      a {
        background-image: image-url("/assets/user_type/proximo.svg");
        background-position-x: 3.6vw;
        color: #FFF;
        padding: 0 0 0 7.1vw;
      }

      &.tester-button {
        background: linear-gradient(0deg, #834098, #ec457f);
      }
    }
  }

  .register-progress-bar {
    @include span-columns (10 of 12);
    @include shift (1 of 12);
    padding-top: 7vh;

    p {
      font-size: 1.07vw;
      color: $blue-text;
      line-height: 1.3;
      margin-top: 2vh;
      position: relative;
      left: 79.5vw;
    }

    img {
      width: 3vw;
      float: left;
      margin-left: 79vw;
      margin-bottom: 2vh;
    }

    .full-bar {
      @include span-columns (10 of 10);

      .active,
      .disable {
        width: 1.5vw;
        height: 1.5vw;
        background-color: $blue-text;
        float: left;
      }

      .disable {
        background-color: transparent;
        border: solid 1px $blue-text;
      }

      .step1 {
        margin-left: 1.2vw;
      }

      .step2 {
        margin-left: 37.7vw;
      }

      .step3 {
        float: right;
        margin-right: 1.2vw;
      }
    }

    .line-bar {
      margin-left: 1.9vw;
      width: 78.5vw;
      clear: left;
      border: solid .5px $blue-text;
      position: relative;
      bottom: 1.4vh;
    }

    &.tester {
      p {
        color: $purple-text;
      }

      .full-bar {
        .active {
          width: 1.5vw;
          height: 1.5vw;
          background-color: $purple-text;
        }
      }

      .line-bar {
        margin-left: 1.9vw;
        width: 78.5vw;
        clear: left;
        border: solid .5px $purple-text;
        position: relative;
        bottom: 1.4vh;
      }
    }
  }
}
