<div class="form-title">
  <h2 class="tasks-title-review">Tarefas</h2>
</div>
<% @tasks.each do |task| %>
  <div class="ask-show-container">
    <div class="template-example">
      <div class="title">
        <h3>Tarefa:</h3>
      </div>
      <div class="template-content">
        <p><%= task.objective %></p>
      </div>
    </div>
    <div class="template-example">
      <div class="title">
        <h3>URL:</h3>
      </div>
      <div class="template-content">
        <p><%= raw(task.url) %></p>
      </div>
    </div>
    <div class="template-example">
      <div class="title">
        <h3>Cenário:</h3>
      </div>
      <div class="template-content">
        <p><%= task.cenary %></p>
      </div>
    </div>
    <%= link_to("Editar Tarefa", edit_project_task_path(@project, task)) if current_page?(project_tasks_path)%>
  </div>
<% end %>
