<div class="form-title">
  <h2>
    Defina as tarefas a serem realizadas
  </h2>
</div>

<div class="tasks-infos">
  <figure class="first-info">
    <%= image_tag("user_dash/task-icon.png") %>
    <figcaption>
      <p>
        Tarefa é um objetivo a ser cumprido.<br>
        Ex: Adicionar produto ao carrinho.
      </p>
    </figcaption>
  </figure>
  <figure class="second-info">
    <%= image_tag("user_dash/task-icon2.png") %>
    <figcaption>
      <p>
        Lembre-se do porque de sua página existir. <br>
        O usuário consegue executar a principal tarefa do site?
      </p>
    </figcaption>
  </figure>
  <figure class="third-info">
    <%= image_tag("user_dash/task-icon3.png") %>
    <figcaption>
      <p>
        Use um de nossos templates prontos caso tenha dificuldades em definir tarefas.
      </p>
    </figcaption>
  </figure>
</div>
