<section id="new-task" class="user-bg-white">
  <div class="container-steps-content">
    <div class="form-box tasks-box">
      <div class="form-title">
        <h2>Tarefa 1</h2>
      </div>
      <%= render 'form', project: @project %>
    </div>
  </div>
</section>