<div class="form-title">
  <h2>
    Defina as perguntas a serem realizadas
  </h2>
</div>

<div class="tasks-infos asks-infos-box">
  <figure class="first-info">
    <%= image_tag("user_dash/ask-icon.png") %>
    <figcaption>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
    </figcaption>
  </figure>
  <figure class="second-info">
    <%= image_tag("user_dash/ask-icon.png") %>
    <figcaption>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
    </figcaption>
  </figure>
  <figure class="third-info">
    <%= image_tag("user_dash/ask-icon.png") %>
    <figcaption>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      </p>
    </figcaption>
  </figure>
</div>
