<div class="form-box tasks-box">
  <% @asks.each do |ask| %>
    <div class="panel-body">
      <p>
        <strong>Objetivo</strong>
        <%= ask.ask_type %>
      </p>

      <p>
        <strong>URL</strong>
        <%= ask.question %>
      </p>
    </div>
    <%= link_to "Editar Pergunta", edit_project_ask_path(@project, ask) %>
  <% end %>
</div>  