<div class="panel panel-info show-project-page">
  <div class="panel-heading">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="panel-body">
    <p>
      <strong>Tipo de Pergunta</strong>
      <%= @ask.ask_type %>
    </p>

    <p>
      <strong>Pergunta</strong>
      <%= @ask.question %>
    </p>
  </div>
</div>
