<section id="new-public" class="user-bg-white">
  <div class="container-steps-content">
    <%= render partial: "projects/nav_new_test" %>
    <div class="form-box">
      <div class="form-title">
        <h2>
          Especifique o público que você quer pesquisar
        </h2>
      </div>
      <figure class="public-info-container">
        <%= image_tag("user_dash/ask-icon.png") %>
        <figcaption>
          <p>
            Ter um público alvo definido é essencial para melhor direcionar o seu teste. Busque realizar uma pesquisa para saber quais as especificações do seu público alvo, assim, você conseguirá definir os usuários mais apropriados para testarem sua página!
          </p>
        </figcaption>
      </figure>
      <%= render 'form', project: @project %>
    </div>
  </div>
</section>
