@import "neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

$border-box-sizing: true !default;

$column: 70px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 100%;

$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Define your breakpoints
$tablet: new-breakpoint(max-width 800px 12);
$mobile: new-breakpoint(max-width 480px 12);
$small-mobile: new-breakpoint(max-width 312px 12);
$desktop: new-breakpoint(min-width 900px 12);
$large-screen: new-breakpoint(min-width 1440px 12);
$hd-screen: new-breakpoint(min-width 1441px 12);