// Typography
$base-font-family: 'GothamRoundedBook', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #006fb1;
$blue-text: #3e6db5;
$light-blue: #27AAE1;
$sky-blue: #629FCD;
$dark-blue: #14335B;
$gray: #d3d5d6;
$dark-gray: #babcbe;
$medium-gray: #8F9093;
$light-gray: #9EA0A2;
$light-black: #808284;
$black: #282828;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-blue;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: $light-blue;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;