// Iphone 5/6 
@include media ($mobile) {
  // Float Button
  #container-effect {
    border-radius: 10vw;;

    .effects-button {
      height: 9vh;
      width: 9vh;

      i {
        font-size: 9.8vw;
      }
    }

    .container-options {
      width: 73vw;

      p {
        font-size: 4.2vw;
      }

      button {
        font-size: 4.55vw;
        margin-bottom: 4vw; 
      }
    }
  }
}