// Iphone 5/6 
@include media ($mobile) {
  nav {
    padding: 25px 0 0 0;
    .nav-logo {
      @include span-columns (12 of 12);
      margin-right: 0;

      img {
        padding: 0 20px;
      }
    }

    .menu {
      display: none;

      &.responsive-menu {
        @include span-columns (12 of 12);
        height: 100%;

        .responsive-menu-button {
          @include span-columns (12 of 12);
          margin-top: 3vh;
          color: #FFF;
          background: $blue;
          padding: 2vh 0;

          &.tester-menu-responsive {
             background: #b82148;
          }


          p {
            width: 100%;
            text-align: center;
            font-size: 4.22vw;
            margin-bottom: 0;
          }
        }

        .nav-menu-responsive {
          @include span-columns (12 of 12);
          flex-direction: column;
          display: none;
          li {
            width: 100%;
            text-align: center;
            padding: 2vh 0;
            margin: 0;
            background: linear-gradient(-90deg, #3e6db5, #48a8de);
            border-top: solid 1px #FFF;

            &.profile {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              .drop-menu-profile {
                display: block;
                background: linear-gradient(-90deg, #3e6db5, #48a8de);
                position: relative;
                padding: 0;
                top: 0;
                right: 0;
                z-index: 999;
                width: 100%;

                &.tester-profile {
                  background: linear-gradient(-90deg, #834098, #ec457f);
                }
                
                ul {
                  display: flex;
                  flex-direction: column;
                  align-items: left;
                  li {
                    @include omega;
                    clear: left;
                    float: left;
                    margin-bottom: 0;
                    margin-top: 2vh;
                    padding: 2vh 0;
                    margin-left: 0;

                    &:last-of-type {
                      margin-bottom: 0;
                      padding-bottom: 0;
                      margin-top: 0;
                    }

                    a {
                      color: #FFF;
                      font-weight: 200;
                    }
                  }
                }

                &.hidden {
                  display: none;
                }
              }
            }

            &.tester-menu-responsive {
              background: linear-gradient(-90deg, #834098, #ec457f);
            }

            a {
              color: #FFF;
            }

            &:first-of-type {
              padding: 2vh 0;
              margin: 0;
            }
          }

          .nav-buttons {
            @include span-columns (12 of 12);

            button {
              width: 50%;

              &.tester-menu-responsive {
                border: solid 1px #b82148;
              }

              &:first-of-type {
                margin-right: 0;
                width: 50%;
                float: left;
                border: solid 1px #006fb1;
                background: #FFF;

                &.tester-menu-responsive {
                  border: solid 1px #b82148;
                }

                a {
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
  }
}