<div class="jumbotron">
  <h1>
    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
    Admin
  </h1>
  <p>Cadastra aí, mano!</p>
  <%= link_to("Cadastre-se", new_user_registration_path, :class => "btn btn-primary btn-lg") %>
</div>