<div class="row">
  <div class="col-md-4">
    <h2 class="text-center">Ativos</h2>
    <%= render @active %>
  </div>

  <div class="col-md-4">
    <h2 class="text-center">Aguardando Resposta</h2>
    <%= render @waiting %>
  </div>

  <div class="col-md-4">
    <h2 class="text-center">Finalizados</h2>
    <%= render @finished %>
  </div>
</div>

<br>

<%= link_to 'Novo Projeto', new_project_path %>
