<section id="new-test" class="user-bg">
  <div class="container-steps-content">
    <%= render partial: "projects/nav_new_test" %>
    <div class="form-box">
      <div class="form-title">
        <h2>
          Conte-nos como será este teste
        </h2>
      </div> 
      <%= render 'form', project: @project %>
    </div>
  </div>
</section>
