<section id="new-ask" class="user-bg-white">
  <div class="container-steps-content">  
    <div class="form-box template-tasks-box">
      <div class="form-title">
        <h2>Nossos Preços</h2>
      </div>

      <div class="template-example prices-example">
        <div class="title">
          <h2>Créditos</h2>
        </div>
        <div class="template-content">
          <p>
            Nós usamos um sistema de créditos para nossos serviços no qual custa 1 crédito para cada pessoa que for requisitada para realizar o teste, ou seja, 5 pessoas serão 5 créditos. <br> <br>
            Recomendamos a utilização de 5 pessoas para que haja uma melhor avaliação.
          </p>
        </div>
      </div>

      <div class="prices-infos">
        <div class="credits">
          <p>Créditos</p>
          <p>1</p>
          <p>5</p>
        </div>

        <div class="value">
          <p>Valor</p>
          <p>R$239,00</p>
          <p>R$1195,00</p>
        </div>
      </div>

      <div class="template-example prices-example">
        <div class="title">
          <h2>Consultoria</h2>
        </div>
        <div class="template-content">
          <p>
            Você também pode contratar nossa consultoria de acordo com nossos pacotes oferecidos. Nós o ajudaremos a efetuar os testes de acordo com sua necessidade. Ajudaremos a sanar todos os problemas que o seu sistema precise.
          </p>
          <div class="template-button">
            <button class="next-button">
              <%= link_to("Comprar", "#") %>
            </button>
          </div>
        </div>
      </div>

      <div class="prices-infos">
        <div class="credits">
          <p>Hora</p>
          <p>1</p>
          <p>10</p>
        </div>

        <div class="value">
          <p>Valor</p>
          <p>R$165,00</p>
          <p>R$1650,00</p>
        </div>
      </div>
    </div>
  </div>
</section>