<section id="user-register-step2" class="login-tester">
  <div class="header-step2">
    <div class="img-box-mask">
      <div class="img-box">

      </div>
    </div>
    <h2>Esqueceu a senha?</h2>
    <div class="title">
      <h3>Preencha os campos abaixo</h3>
    </div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-signin forgot-password-user-form', method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, label: "E-mail", :class => "forgot-password-user-input" %>

      <div class="form-actions">
        <button class="login-user forgot-password-user">
          <%= f.button :submit, "Recuperar Senha", :class => "btn btn-primary btn-block" %>
        </button>
      </div>
    </div>
  <% end %>
</section>
