nav {
  padding: 25px 0 25px 8.5vw;
  box-shadow: 2px 2px 23px 0px;
  z-index: 99;
  .nav-logo {
    @include span-columns (2 of 12);
    margin-right: 2.3%;

    img {
      padding-right: 20px;
    }
  }

  .menu {
    @include span-columns (9 of 12);
    width: 75%;
    height: 6vh;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;

      a {
        color: $black;
      }
    }

    li {
      margin-right: 2.72vw;
      &:first-of-type {
        margin-left: 6.2vw;
      }

      &:last-of-type {
        margin-right: 4.6vw;
      }
    }

    button {
      height: 6vh;
      width: 8.8vw;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border: solid 1px $blue;
      color: $black;
      background: #FFF;

      &:first-of-type {
        margin-right: 2.2vw;
        width: 12.2vw;
        background: linear-gradient(-90deg, #3e6db5, #48a8de);
        border: none;

        a {
          color: #FFF;
        }
      }
    }

    &.responsive-menu {
      display: none;
    }
  }

  .responsive-menu-button {
    display: none;
  }
}
