// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* CUSTOM CSS */
// GENERAL
body {
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Main
.site-content {
  flex: 1;
}

// Show Project CSS
.show-project-page {
  width: 50%;
  margin: 0 auto;
}
