// Iphone 5/6
@include media ($mobile) {
  label {
    font-size: 4.22vw;
  }

  #{$all-text-inputs},
  select[multiple=multiple] {
    background-color: #FFF;
    border: solid .7px $blue-text;
    border-radius: $base-border-radius;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: 4.22vw;
    color: $blue-text;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    transition: border-color $base-duration $base-timing;
    width: 100%;
    height: 5vh;
  }
}